/* Add your CSS here */
/* Add CSS */
body {
    margin: 0;
  }

#header {
    display: flex;
    align-items: center;
    background-color: rgb(233, 228, 228);
    width: 100%;
    height: 10%;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

#title {
    
    text-align: center;
    font-size: 50px;
    font-family: Helvetica;
    padding-left: 20px;
}

#search_bar {
    padding-right: 20px;
}


#search_q {
    float: right;
    padding: 15px;
    border-radius: 1rem;
}

/* Navigation Stuff*/
#nav {
    float: left;
    width: 20%;
    overflow-y: hidden;
    height: 90vh;
    background-color: rgb(239, 239, 239);
    box-shadow: -2px 0 0 black inset;
}

#nav button {
    font-size: 200%;
    padding: 30px 24px;
    width: 99%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #df720c;
    border: 0px;
}

#nav button:hover{
    background-color: rgba(206, 203, 203, 0.61);
}

#nav button:active{
    background-color: rgba(172, 170, 170, 0.637);
}

#menu {
    width: 100%;
    height: 100%;
    font-family: Helvetica;
}

/* content start*/
#content {
    align-items: center;
    width: 100%;
    min-height:15%;
    border-bottom: 2px solid black;
    /* background-color: rgb(234, 234, 234); */
}

#q_btn {
    text-decoration: none;
    font-size: 30px;
    padding: 10px 12px;
    color: rgb(255, 255, 255);
    background-color: #0c8bdfe1;
    position: relative;
    left: -20px;
}

#q_btn:hover{
    cursor: pointer;
    background-color: rgb(177, 177, 255);
    transition: all 0.5s ease;
}

.align_content {
    padding-left: 3%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

#content_header{
    font-size: 250%;
}
/* content end*/
/*For Newest, Active */
table, th, td {
    border: 2px solid rgba(0, 0, 0, 0.493);
}

.three_bar {
    border-collapse: collapse;
    background-color: rgb(201, 189, 189);
    width: 350px;
    height: 45px;
    text-align: center;
    table-layout: fixed;
    float: right;
    cursor: pointer;
    position: relative;
    right: 230px;
}

.bar_link{
    text-decoration: none;
    align-items:center;
}

#count_questions{
    font-size: 28px;
}



/* result start */
#result {
    padding-top: 20px;
    width: 100%;
    /*font-size: x-large; */
    /* padding-left: 2.5%; */
    /* background-color: rgb(226, 222, 197); */

}

#replacement{
    height: 100%;
}

.FormContainerClass{
    float:right;
    width:80%;
}

.questionPage{
    height:68vh;
    overflow-y:auto;
}

.answerPage{
    height: 60vh;
    overflow-y:auto;
}

.answersEmpty{
    font-size: 30px;
    font-family: Helvetica;
    padding-top: 10px;
    padding-left: 20px;
}
/*QUESTION FORM*/
#askQst{
    float:right;
    font-size: 22px;
    width: 80%;
    height: 100%;
    font-family: Helvetica;
}

#askQst_inner{
    text-align:center;

}

#askQstBtn{
    text-decoration: none;
    font-size: 30px;
    padding: 10px 12px;
    color: rgb(255, 255, 255);
    background-color: #0c8bdfe1;
}

.qstBox{
    padding:10px;
    width: 20%;
    
}

.actives {
    background-color: rgba(172, 170, 170, 0.637);
}

.questionDiv {
    padding-left: 20px;
    /* background-color: rgb(243, 240, 240); */
    cursor: pointer;
}
.questionDivNotClick{
    border-bottom: 2px dotted black;
}

.QCdiv {
    display: inline-block;
    width: 80%;
    padding-left: 20px;
}




#qstSubmit{
    text-decoration: none;
    font-size: 25px;
    padding: 10px 12px;
    color: rgb(255, 255, 255);
    background-color: #0c8bdfe1;
}

#qstSubmit:hover{
    cursor: pointer;
    background-color: rgb(177, 177, 255);
    transition: all 0.5s ease;
}

#qstSubmit:active{
    background-color: rgb(176, 176, 211);
}

/*ANSWER FORM */
.answerBtn{
    margin-top: 20px;
    margin-left: 20px;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 12px;
    color: rgb(255, 255, 255);
    background-color: #0c8bdfe1;
}

.answerBtn:hover{
    cursor: pointer;
    background-color: rgb(177, 177, 255);
    transition: all 0.5s ease;
}

.answerBtn:active{
    background-color: rgb(176, 176, 211);
}

#ansSubmit{
    text-decoration: none;
    font-size: 25px;
    padding: 10px 12px;
    color: rgb(255, 255, 255);
    background-color: #0c8bdfe1;
}

#ansSubmit:hover{
    cursor: pointer;
    background-color: rgb(177, 177, 255);
    transition: all 0.5s ease;
}

#ansSubmit:active{
    background-color: rgb(176, 176, 211);
}

/*ERROR */
.errorAll{
    color: red;
}

.questionView {
    display: inline-block;
}
.questionTitle {
    display: inline-block;
}
.questionAuthor {
    display: inline-block;
}

/*TAGS PAGE*/
#tagHeader{
    display:flex;
    /* width: 100%; */
    min-height: 15%;
    justify-content: space-between;
    /* border-bottom: 2px solid black;
    background-color: rgb(234, 234, 234); */
}

#tagBtn{
    float:right;
    padding-top:20px;
}

#tagStuff{
    padding-top: 20px;
    width: 100%;
}

#tagCount{
    font-size: 28px;
    padding: 20px 20px;
}

#allTagSpec{
    font-size: 200%;

}

.questionAuthor{
    color: rgb(243, 109, 109);
    margin: 5px;
}

.questionDate{
    color: rgb(87, 87, 87);
}
/*ANSWER STUFF */
.answerDiv {
    display: flex;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;

}
.answerText{
    width: 85%;
}
.answerAuthor{
    width: 15%;
    margin-left: 20px;
    color: rgb(12, 100, 12);
}

.noQfound {
    padding-left: 20px;
}

.tagDiv{
    cursor: pointer;
    border: dotted;
    text-align: center;
    display: inline-block;
    width: 30%;
    margin-left: 30px;
    margin-bottom: 20px;
}

#newer:hover{
    background-color: rgb(205, 205, 205);
}

#activer:hover{
    background-color: rgb(205, 205, 205);
}

#unanswered:hover{
    background-color: rgb(205, 205, 205);
}

.questionDiv{
    display: flex;
}
#questionViewsAndAnswers{
    width: 15%;
}
#questionTitle{
    color: rgb(37, 37, 228);
    width: 65%;
}
#questionName{
    color: rgb(219, 40, 9);
    padding-left: 11px;
    padding-top: 11px;
    width: 20%;
}
#questionTags{
    display: flex;
}

#questionDate{
color: grey;
}
#questionDivIndTag{
    display: inline-block;
    background: rgb(107, 112, 177);
    border-radius: 4px;
    font-family: "arial-black";
    font-size: 14px;
    color: #ffffff;
    padding: 8px 12px;
    margin-right: 15px;
}

#ansPageQuestionUpper{
    margin-left: 20px;
    display: flex;
}

#questionViews{
    
    margin-top: 30px;
    width:150px;
}

#questionT{
    width:70%;
}

#askAnsButton{
    margin-top: 10px;
    margin-left: 40px;
    width:30%;
}

#ansPageQuestionLower{
    display: flex;
    border-bottom: dotted grey;
}

#questionAnswers{
    margin-left: 20px;
    margin-top: 20px;
    width:120px;
}

#questionTT{
    display: flex;
    width:70%;
}

#questionN{
    color: red;
    margin-top: 15px;
    margin-left: 40px;
    width:30%;
}

#tagDiv{
    cursor: pointer;
    border: dotted;
    text-align: center;
    display: inline-block;
    width: 30%;
    margin-left: 30px;
    margin-bottom: 20px;
}

#noQuestions{
    font-size: 30px;
    font-family: Helvetica;
    padding-top: 10px;
    padding-left: 20px;
}
.commentText{
    padding:10px;
    width: 100%;
    
    border-bottom: dotted grey;
}